# Docker data
**/data/
**/mysql/
**/db_data/
**/nextcloud_data/
**/letsencrypt/

# Mailcow specific
mailcow/mailcow.conf
mailcow/.env

# Local AI/Dev logs
deployment/logs/dev/*
deployment/logs/prod/*
!deployment/logs/dev/system-summary.log

# System
.DS_Store
node_modules/
dist/
.env
*.log
