# Docker data
**/data/
**/mysql/
**/db_data/
**/nextcloud_data/
**/letsencrypt/

# Mailcow specific
mailcow/mailcow.conf
mailcow/.env

# Local environment files
.env
.env.*
!.env.example

# Logs
deploy/logs/
deploy/logs/dev/
deploy/logs/prod/
!deploy/logs/dev/latest-summary.log
*.log

# System
.DS_Store
node_modules/
dist/
/tmp/
